body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    background-color: #9EE2C7;
    color:#E48080;
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 32px;
}
header a {
    color: #E48080;
}

.head-logo {
    display: flex;
    flex: 0 1 auto;
}

.headline-img {
    padding: 50px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.top {
    background-color: #076F94;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

button {
    background-color: #25A9B2;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 5px;
}

img {
    margin: 0;
    padding: 0;
}

.img-1 {
    height: 35vh;
    width: 35vw;
    display: flex;
    flex: 1;
    align-self: flex-end;
}

.this-is-awesome {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.some-random-information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.inspiring-quote {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: #F6BB99;
    font-size: 32px;
    font-style: italic;
    font-weight: 0;
}

.call-to-action {

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9EE2C7;
    color:#E48080;
}

.padding-width {
    padding-right: 200px;
    padding-left: 200px;
}

.button-right {
    display: flex;
    align-self: flex-start;
}

.square {
    height: 100px;
    width: 100px;
    border: 5px solid #25A9B2;
    border-radius: 10px;
}

.four-images {
    display: flex;
    justify-content: space-around;
}

.block {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}

.call-to-action {
    display: flex;
    flex-flow: column wrap;
    flex: 2 1 auto;
}

.sign-up {
    display: flex;
    flex: 1 1 auto;
}

.its-time {
    display: flex;
    justify-content: space-between;
    margin: 100px 50px;
    padding: 50px;
    border-radius: 10px;
}

#padding-top {
    padding: 40px;
}

.margin-bottom {
    margin-bottom: 50px;
}

#homer-simpson {
    padding-top: 10px;
    padding-bottom: 10px;
}

#marge-simpson {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bart-simpson {
    font-size: 16px;
}