body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    background-color: #25A9B2;
    color:#E48080;
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, p {
    margin: 0;
}

header a {
    color: #E48080;
}

.head-logo {
    display: flex;
    flex: 0 1 auto;
}

.headline-img {
    padding: 50px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.top {
    border-radius: none;
    background-color: #076F94;
    color: white;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #25A9B2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 30px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 5px;
}

img {
    margin: 0;
    padding: 0;
}

.img-1 {
    height: 35vh;
    width: 35vw;
    display: flex;
    flex: 1;
    align-self: flex-end;
}

.this-is-awesome {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.some-random-information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.inspiring-quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {

}

footer {

}

.padding-width {
    padding: 0 200px;
}

.button-right {
    display: flex;
    align-self: flex-start;
}

.square {
    height: 100px;
    width: 100px;
    border: 5px solid #25A9B2;
    border-radius: 10px;
}

.four-images {
    display: flex;
    justify-content: space-around;
}

.block {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}